In [2]:
import pandas as pd

In [3]:
import sqlite3
conn = sqlite3.connect("bce.db")
c = conn.cursor()
c.execute("SELECT * FROM activity")
c.fetchone()

('0200.065.765', '006', '2008', '84130', 'MAIN')

In [39]:
df = pd.read_sql_query("SELECT JuridicalForm FROM enterprise", conn)


df = pd.DataFrame(df["JuridicalForm"].value_counts(normalize=True, sort = True) * 100).reset_index()


df.rename({'index': 'JuridicalForm', 'JuridicalForm': 'Percentage'}, axis=1, inplace=True)
df 
# result

    JuridicalForm  Percentage
0             015   32.420254
1             610   15.514678
2             017   12.765437
3             014    9.006056
4             070    8.549546
..            ...         ...
102           127    0.000091
103           373    0.000091
104           387    0.000091
105           371    0.000091
106           608    0.000091

[107 rows x 2 columns]

        Signal
015  32.420254
610  15.514678
017  12.765437
014   9.006056
070   8.549546
..         ...
127   0.000091
373   0.000091
387   0.000091
371   0.000091
608   0.000091

[107 rows x 1 columns]