In [3]:
import pandas as pd

In [4]:
import sqlite3
conn = sqlite3.connect("bce.db")
c = conn.cursor()
c.execute("SELECT * FROM activity")
c.fetchone()

('0200.065.765', '006', '2008', '84130', 'MAIN')

In [5]:
df = pd.read_sql_query("""Select JuridicalForm from enterprise
""", conn)

df_description = pd.read_sql_query("""select description, code from code
where code.Language = "FR"
""", conn)

df_count = pd.DataFrame(df["JuridicalForm"].value_counts(normalize=True, sort = True, dropna=False) * 100).reset_index()

df_count.rename({'index': 'JuridicalForm', 'JuridicalForm': 'Percentage'}, axis=1, inplace=True)
df = pd.merge(df_count, df_description, left_on="JuridicalForm", right_on="Code", how="left")
df

,JuridicalForm,Percentage,Description,Code
0,None,40.983539,NaN,NaN
1,015,19.133287,Société privée à responsabilité limitée,015
2,015,19.133287,Arrêt d'une entité sans personnalité juridique,015
3,015,19.133287,"Chasse; capture d'animaux, repeuplement en gib...",015
4,015,19.133287,Culture et élevage associés,015
...,...,...,...,...
196,724,0.000054,Activités de banques de données,724
197,387,0.000054,Ministère de la Région de Bruxelles-Capitale,387
198,651,0.000054,Autre forme à finalité sociale de droit public,651
199,651,0.000054,Intermédiation monétaire,651
200,651,0.000054,Assurance,651

In [33]:
df = pd.read_sql_query("SELECT TypeOfEnterprise FROM enterprise", conn)



df_description = pd.read_sql_query("""select description, Code
from code
where code.Category = "TypeOfEnterprise" and Language = "FR"
""", conn)

df = pd.DataFrame(df["TypeOfEnterprise"].value_counts(normalize=True, sort = True) * 100).reset_index()
df.rename({'TypeOfEnterprise': 'Percentage', 'index': 'TypeOfEnterprise'}, axis=1, inplace=True)
#Personne morale ou Personne physique
df = pd.merge(df, df_description, left_on="TypeOfEnterprise", right_on="Code", how="left", suffixes=('', '_drop'))
df

  TypeOfEnterprise  Percentage        Description Code
0                2   59.016461    Personne morale    2
1                1   40.983539  Personne physique    1

In [32]:


df

  TypeOfEnterprise  Percentage        Description Code
0                2   59.016461    Personne morale    2
1                1   40.983539  Personne physique    1